// Fonts Dancing script
@font-face {
  font-family: "bw";
  src: url("../fonts/BwModelicaSS01-ExtraBold.woff");
}
body {
  margin: 0;
  padding: 0;
  width: 80%;
  margin: 40px auto;
  text-align: center;
  font-family: bw;
  height: 900vh;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Color

$black: rgb(22, 18, 18);
$gray: rgb(129, 128, 128);
$yellow: #ffd91a;
$white : #f5f0f0;
// mixin

@mixin justify-content($propriete) {
  display: flex;
  justify-content: $propriete;
}
