header {
  margin: 30px auto;
  border: 2px solid $black;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 50% 50%;
  max-height: 700px;
  @media screen and (max-width: 618px) {
    display: grid;
    grid-template-columns: 1fr;
    padding: 40px;
  }

  .left-header {
    img {
      max-width: 80%;
    }
  }

  .right-header {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-evenly;
font-size: 0.9rem;
    .buttons {
      display: flex;
      margin-top: 10px;
      margin-bottom: 10px;
      button {
          @media screen and (max-width: 905px)   {
            padding: auto;
            margin-top: 30px;
            
            }
        margin-right: 10px;
        background-color: $black;
        padding: 1rem 1.5rem;
        border-radius: 3rem;

        
        &:hover:first-child{
            background: red;
            border: 2px solid black;
        }
        &:hover:last-child{
            box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
            transform: translateX(0.3em);
        }
        a {
          color: $white;
        }
      }
    }
  }
}
