header {
  margin: 30px auto;
  border: 2px solid $black;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 50% 50%;  
  height: auto;
  margin-top: 100px;
  overflow: hidden;
  @media screen and (max-width: 618px) {
    display: grid;
    grid-template-columns: 1fr;
    padding: 40px;
  }

  .left-header {
    img {
      max-width: 80%;
    }
  }

  .right-header {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-evenly;
font-size: 0.9rem;

    .buttons {
      display: flex;
      margin-top: 10px;
      margin-bottom: 10px;
      button {
        @media screen and (max-width: 905px)   {
          padding: auto;
          margin-top: 30px;          
        }
        font-family: bw;
        margin-right: 10px;
        background-color: $black;
        padding: 1rem 1.5rem;
        border-radius: 3rem;

        
        &:hover:first-child{
            background: red;
            border: 2px solid black;
        }
        &:hover:last-child{
          transform: translate(5px, -2px);
          
        }
        a {
          color: $white;
        }
      }
    }
  }
}
