nav {
  @include justify-content(space-between);
  border-radius: 15px;
    background: $yellow;
 
  .right-menu{
      @media screen and (max-width: 618px) {
          display: none;
          }
        }
  ul {
    display: flex;

    }
    li {
      padding: 30px;

      a {
        color: $gray;
        font-weight: 900;
      }
    }
  }

