nav {
  border-radius: 15px;
  background: $yellow;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;  
  width: 80%;
  margin: 10px auto;
  z-index: 1;
  height: 70px;
  padding: 10px;
  .logo {
    display: flex;
    align-items: center;

    img {
      margin-right: 10px;
    }

    a {
      color: $white;
      font-family: Commons Pro, sans-serif;
      font-weight: 800;
    }
  }

  .right-menu {
    display: flex;
    padding: 10px;

    @media screen and (max-width: 920px) {
      display: none;
    }

    li {
      margin-right: 15px;

      a {
        text-decoration: none;
        text-transform: capitalize;
        color: $white;
        font-size: 0.9rem;
        font-weight: 700;
        line-height: 1.5;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}
