.section2 {
  margin-top: 90px;
  background-image: url(https://assets.website-files.com/62b94e6b19cb4487d4ca3d43/62bacd30fa2cce04546413f8_Projects%20Section.webp);
  height: auto;
  padding: 110px;
  border-radius: 35px;
  @media screen and (max-width: 547px) {
    padding: 30px;
  }
  
  .img {
    width: 100%;
    // defini la taille du gap entre les lignes dans un grid
    grid-row-gap: 16px;
    color: #f8f8f8;
    text-align: center;
    background-color: $black;
    border-radius: 32px;
    // mets les elements les uns en dessous des autres
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    padding: 3.8rem;
    display: flex;
    text-transform: capitalize;

    
    .img-container {
      max-width: 39rem;
      grid-column-gap: 0px;
      //  mets les elements flexibles a êtres disposées sur une seule ligne ou plusieurs
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      //   eleve le container vers le haut
      margin-top: -6.9rem;
      
      @media screen and (max-width: 1230px) {
        max-width: 30rem;
        grid-column-gap: 0px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }
      img {
        width: 9rem;
        border: 4px solid $black;
        border-radius: 50%;
        margin-top: -1.5rem;
        margin-left: -1.4rem;
        position: relative;
        cursor: pointer;
        &:hover {
          transform: scale(1.2);
        }
        @media screen and (max-width: 760px) {
          width: 50%;         
        }
        
      }
    }
  }
}
.buttons-2 {
  button {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: bw;
    margin-right: 10px;
    background-color: $yellow;
    padding: 1rem 1.5rem;
    border-radius: 3rem;
    text-transform: capitalize;

    &:hover:first-child {
      background: red;
      border: 2px solid black;
    }
    &:hover:last-child {
      transform: translate(5px, -2px);
    }
  }
}
